<h1> æŠ•ç¨¿ä¸€è¦§ </h1>
<% @g.submissions.each do |g| %>
  <%= link_to g.title,"/submissionlist/"+@g.id.to_s+"/"+g.id.to_s %>
  <% if g.evaluation !=0 %>
    <%= g.evaluation.to_s+"ðŸ‘" %>
  <% end %>
  <br>
<% end %>
<br><br>
<%= link_to"ãƒˆãƒƒãƒ—ãƒšãƒ¼ã‚¸","/"%>