<h1>æŠ•ç¨¿ä¸€è¦§</h1>
<% @user.submissions.each do |s| %>
    <%= link_to "ID:"+s.id.to_s+" "+s.title,"/mypage/submissionlist/"+s.id.to_s %> 
    <%if s.evaluation %>
        <%= " "+s.evaluation.to_s+"ðŸ‘" %>
    <% end %>
    <br>
<% end %>
<%= link_to"ãƒˆãƒƒãƒ—ãƒšãƒ¼ã‚¸", "/" %>